.container {
  width: 100%;
  min-height: 100vh;
  background: transparent;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  }
}

.login {
  background: $white;
  width: 390px;
  margin: 0 auto;
  padding: 40px 30px 45px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.4);
  label {
    color: $primary;
    margin-bottom: 10px;
    display: inline-block;
  }
  span {
    color: $error;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  &__input {
    width: 100%;
    margin: 20px 0;

    input {
      @include input;
    }
    span {
      text-align: left;
    }
  }
  .input-group {
    @include input-group;
    .icon {
      @include icon;
    }
    &--error {
      input {
        border-color: $error;
      }
      .icon {
        color: $error;
      }
    }
  }
  button {
    background: $primary;
    color: $white;
    @include button;
    &:disabled {
      opacity: 0.5;
    }
  }
}
